<?xml version="1.0" encoding="UTF-8"?>
<generator>
	<template>defaultTemplate</template>
	<packages>
		<package name="controller">org.jgenerator.controller</package>
		<package name="service">org.jgenerator.service</package>
		<package name="serviceImpl">org.jgenerator.service.impl</package>
		<package name="dao">org.jgenerator.dao</package>
		<package name="daoImpl">org.jgenerator.dao.impl</package>
		<package name="coreException">com.xxfff.core.exception</package>
		<package name="coreModel">com.xxfff.core.model</package>
		<package name="coreDao">com.xxfff.core.dao</package>
		<package name="coreDaoImpl">com.xxfff.core.dao.impl</package>
		<package name="coreService">com.xxfff.core.service</package>
		<package name="coreServiceImpl">com.xxfff.core.service.impl</package>
		<package name="model">org.jgenerator.model</package>
		<package name="modelContion">org.jgenerator.model</package>
		<package name="modelArray">org.jgenerator.model.entityArray</package>
	</packages>
	<paths>
	    <!-- 全部相对于项目的路径 -->
		<path name="jsPath">/WebRoot/static/manage/js/</path>
		<path name="manageJspPath">/WebRoot/WEB-INF/jsp/manage/</path>
		<path name="portalJspPath">/WebRoot/WEB-INF/jsp/portal/</path>
		<path name="mapperPath">/src/main/resources/sqlmapper/</path>
	</paths>
</generator>